<div class="home">
  <article class="most-voted">
    <%= link_to '', '#', :style => "background-image: url(#{@most_voted_article.image});", :class => 'img' %>
    <div>
      <h3><%= @most_voted_article.title %></h3>
      <p><%= @most_voted_article.text.truncate(100) %></p>
    </div>
  </article>

  <div class="row wrap">
    <% @categories.each do |category| %>
      <article class="home-category">
        <% if !@list[category.id].nil? %>
          <%= link_to '', category, :style => "background-image: url(#{@list[category.id].image});", :class => 'img' %>
          <div class="col flex main-space-between">
            <h3><%= category.name %></h3>
            <h4><%= @list[category.id].title %></h4>
          </div>
        <% end %>
      </article>
    <% end %>
  </div>
</div>
